<article>
    <header>
        <h1><a href="/{{ item.slug }}">{{ item.title }}</a></h1>
        <p>Published: <time pubdate="pubdate">{{ item.date | date_default_format }}</time></p>
    </header>
    <div class="excerpt">
        <p>{{ item.excerpt }}&hellip;</p>
    </div> <!-- .excerpt -->
    <footer>
        {% include 'partials/taxonomies.twig' %}
    </footer>
</article>