{#
    If this file exists use it instead taxonomy.twig for all categories
    URI: /categories/web-development
#}
{% extends 'taxonomy.twig' %}

{% block content %}
    <h1>categories/web-development.twig</h1>
{% endblock %}