{#
    If this file exists use it instead of the default _index.twig
    /categories/web-development
#}
{% extends '_defaults/term.twig' %}

{% block content %}
    <h1>categories/web-development.twig</h1>
{% endblock %}