{% extends 'layouts/master.twig' %}

{% block title %}{{ seotitle }}{% endblock %}

{% block content %}
    <h1>{{ archiveName | title }}</h1>
    {% for post in items %}
        {% include 'partials/article.twig' %}
    {% endfor %}
{% endblock content %}