{% extends 'layouts/master.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="{{ url('contact') }}" method="POST">
        <label for="from">Email:</label>
        <input type="email" name="from" id="from" />
        <label for="message">Message:</label>
        <textarea name="message" id="message"></textarea>
        <input type="submit" value="Send Message" />
    </form>
{% endblock content %}