{#
    Used for listing items of a post type.
    A post type is technically just a directory that stores content files.
    content/our-team/jon
    content/our-team/jane
#}
{% extends 'layouts/master.twig' %}

{% block content %}
    <article>
        <h1>{{ entry.title }}</h1>
        {{ entry.content | raw }}
        <ul>
            {% for item in entries %}
                <li><a href="/{{ item.uri }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </article>
{% endblock content %}