{#
    Build an archive object and send it to the view.
    All the entry variables are available as well
    in case people want to customize seoTitle, etc.
#}

{% extends '_layouts/master.twig' %}

{% block title %}{{ term.name }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ term.name }}</h1>
        {% for entry in term.entries %}
            {% include '_partials/article.twig' %}
        {% endfor %}
    </article>
{% endblock content %}